body {
    background-color: rgb(201, 177, 177);
}
.wrapper {
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px solid #000;
    margin: 0px 0px 10px 0px;
}
.header__title {
    padding: 15px;
    font-size: 28px;
}
.main {
    height: 100%;
    padding: 0px 20px 20px 20px;
}
.level__one {
    width: 450px;
}
.level__two {
    width: 550px;
}
.level__three {
    width: 660px;
}

.main__game-board,
.main__won-message {
    margin: 0 auto;
}

.hide {
    position: absolute;
    left: -1000px;
}
.main__game-board {
    height: auto;
    border: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
}
.main__score-board {
}

.flip-container {
    perspective: 1000px;
}
.flip-container.active .flipper {
    transform: rotateY(180deg);
}
.card,
.flip-container,
.front,
.back {
    width: 120px;
    height: 160px;
    user-select: none;
}
.flip-container {
    margin: 2px;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg);
}
.flip-container.hidden .back {
    opacity: 0;
    transition: all linear 0.5s;
}
.flip-container.hidden .front {
    opacity: 0;
    transition: all linear 0.5s;
}

.main__won-message {
    width: 400px;
    height: 400px;
}
.won__message {
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.won__level {
    font-size: 28px;
    padding: 10px;
    margin: 0px 0px 40px 0px;
}
.won__moves {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
}
.won__accuracy {
    font-size: 20px;
    flex: 1 1 auto;
}

.won__button {
    width: 100%;
    height: 40px;
}
.won__button-text {
    font-size: 18px;
}

@media (width < 768px) {
    .level__one {
        width: 300px;
    }
    .level__two {
        width: 400px;
    }
    .level__three {
        width: 400px;
    }
    .card,
    .flip-container,
    .front,
    .back {
        width: 88px;
        height: 110px;
    }
}
@media (width < 442px) {
    .level__one {
        width: 230px;
    }
    .level__two {
        width: 230px;
    }
    .level__three {
        width: 280px;
    }
    .card,
    .flip-container,
    .front,
    .back {
        width: 60px;
        height: 80px;
    }
}
